@import "../variables/default.scss";

.#{$pre-fixed-name}__code {

  &--content {
    //border-radius: $code-radius;
    padding: $code-padding;

    &__row {
      line-height: $code-font-size * 1.5;
      font-size: $code-font-size;
      display: flex;

      &--flex {
        &--0 {
          flex-shrink: 0;
        }

        &--1{
          flex: 1;
        }
      }

      &--num {
        padding: 0 $code-number-padding;
      }

      &--line {
        padding: 0 $code-line-padding;
      }
    }

  }
}
